groups:
- name: High CPU
  rules:
%{ for app in apps ~}
  - alert: High-CPU-${app}
    expr: avg by ( app ) (cpu{app=~"${app}"}) > 50
    for: 5m
    annotations:
      summary:     ${app} High CPU Alert
      dashboard:   ${grafana_dashboard_url}
      description: "CPU usage of at least 50% for more than 5 minutes (current value: {{ $value }})"
    labels:
      environment: production
      severity:    high
      app:         ${app}
%{ endfor ~}

- name: Memory Utilisation
  rules:
%{ for app in apps ~}  
  - alert: High-Memory-Utilisation-${app}
    expr: avg by ( app ) (memory_utilization{app=~"${app}"}) > 60
    for: 5m
    annotations:
      summary:     ${app} high memory utilization
      dashboard:   ${grafana_dashboard_url}
      description: "Memory utilization at least 60% for more than 5 minutes (current value: {{ $value }})"
    labels:
      severity:    high
      app:         ${app}
      environment: production
%{ endfor ~}

- name: Disk Utilisation
  rules:
%{ for app in apps ~}  
  - alert: High-Disk-Utilisation-${app}
    expr: avg by ( app ) ( disk_utilization{ app=~"${app}" }) > 60
    for: 5m
    annotations:
      summary:     ${app} high disk utilization
      dashboard:   ${grafana_dashboard_url}
      description: "Disk utilization is at least 60% for more than 5 minutes (current value: {{ $value }})"
    labels:
      severity:    high
      app:         ${app}
      environment: production
%{ endfor ~}

- name: App Crashes
  rules:
%{ for app in apps ~}  
  - alert: App-Crash-${app}
    expr: rate(crash{app=~"${app}"}[1m])*60 > 1
    for: 5m
    annotations:
      summary:     Atleast one instance of ${app} has crashed
      dashboard:   ${grafana_dashboard_url}
      description: Atleast one instance of ${app} has crashed
    labels:
      severity:    high
      app:         ${app}
      environment: production
%{ endfor ~}
